<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav id="dynamicHeader"></nav>
  <div class="staticWrapper">
  <div class="box">
    <div class="boxTitle">You are banned! ;_;</div>
	<div class="boxContent">
	  <img src="/.static/b&amp;.jpg" style="float: right;" width="250">
      <span id="descriptionLabel"></span>
      <span id="reasonPanel">
        for the following reason: <br><br><b>"<span id="reasonLabel"></span>"</b><br><br>
      </span>
      <span id="expirationPanel">
        This ban will expire at: <b><span id="expirationLabel"></span></b><br><br>
      </span>
        Your ban ID: <span id="idLabel"></span>

      <hr />

      <form
        action="/appealBan.js"
        id="formAppeal"
        method="post"
        enctype="multipart/form-data">

        <h3>Appeal Ban</h3>

        <input
          type="hidden"
          name="banId"
          id="idIdentifier">

        <textarea
          name="appeal"
          id="fieldAppeal"
          placeholder="Appeal your ban here."></textarea>

        <input
          type="submit"
          value="Appeal Ban"
          id="buttonFormAppeal">

      </form>
	</div>
</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
