<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/thread.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/board.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/boardContent.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/settingsMenu.css"
  type="text/css"
  rel="stylesheet" />
</head>

<body>

  <script src="/.static/js/themeLoader.js"></script>

  <div class="sidebar-wrapper-ontop">
  <div id="sidebarBoard"></div>
  </div>
  <div class="content-wrapper">
  <nav id="dynamicHeaderBoard"></nav>
  <header class="boardHeader">
    <img id="bannerImage" width=300 height=100 />
<div style="margin: -5px 0;">
    <p id="labelName"></p>
</div> 
    <p id="labelDescription"></p>
  </header>
  <hr width="90%">
  <div style="text-align: center;">
    <iframe src="/php/rotatingImage.php" class="banner" scrolling="no" width="600" height="74" frameborder="0"></iframe></div>
  <hr style="margin:5px 1em;">
<noscript>
  <style>
    #newPostFieldset {
      display: inline-block !important;
    }

    #submitButton {
      display: none;
    }
  </style>
</noscript>
<div id="submitButton" style="text-align:center;">
[<button id="submitBtn" class="submitButton">Submit a Thread</button>]
</div>
  <div id="postingForm">
  
    <fieldset id="newPostFieldset" style="display: none">

      <form
        action="/newThread.js"
        enctype="multipart/form-data"
        method="post">

        <table id="postingTable">
        </table>
	  <div style="font-size: 70%;text-align: left">• Before posting, make sure to read the <a href="/rules">rules</a></div>
      <div style="font-size: 70%;text-align: left">
        • Max file size: <span id="labelMaxFileSize"></span> 
      </div>
      <div style="font-size: 70%;text-align: left">
        • Max files: <span id="labelMaxFiles"></span>
      </div>
	 <div style="font-size: 70%;text-align: left">
	  • Supported file types: GIF, JPG, PNG, WebM, OGG, SWF
	  </div>
	  <div style="font-size: 70%;text-align: left">
	  • Images greater than 250x250 pixels will be thumbnailed
	  </div>
      </form>
    </fieldset>
    <div id="blotter">
	<fieldset id="blotterFieldset">
	<hr style="margin: 5px 0 0;">
	<table id="blotterTable"></table>
	</fieldset>
  </div>
  </div>
  <div id="panelMessage">
    <hr>
    <div id="divMessage"></div>
  </div>

  <span class="hidden">
    <span>[</span>
    <a
      href="#footer"
      id="linkBottom"
      class="coloredIcon"></a>
    <span>/</span>
    <a
      class="coloredIcon"
      id="linkLogs"></a>
    <span>/</span>
    <a
      href="./catalog.html"
      id="navCatalog"
      class="coloredIcon"></a>
    <span>/</span>
    <a
      href="index.rss"
      class="coloredIcon"
      id="linkRss"></a>
    <span>]</span>
  </span>
  <hr style="margin:5px 1em;">
  <div style="text-align: center">
  <iframe src="/php/rotatingImage2.php" class="banner" scrolling="no" width="468" height="60" frameborder="0"></iframe></div>
  <p style="text-align: center;margin: 0;"><a class="small" href="/"><u style="">Upload banners here!</u></a></p>
  <div id="threadList">

    <form
      action="/contentActions.js"
      method="post"
      enctype="multipart/form-data">

      <div id="divThreads"></div>

      <hr class="clearer" />

      <div class="threadPages">

      <div id="contain" style="float: left;">

        <span class="containPages"><a id="linkPrevious"><button type="button">Previous</button></a> </a> <span
          id="divPages" class="bracket-list"></span> <a id="linkNext"><button type="button">Next</button></a> <span class="fHide">|</span> <a href="catalog.html" class="altButton1">Catalog</a>
        </span>
      </div>
        <div class="hidden" id="boardContentLinks">
          <span>[</span>
          <a
            id="linkTop"
            class="coloredIcon"
            href="#"></a>
          <span>/</span>
          <a id="linkManagement">Manage Board</a>
          <span>/</span>
          <a id="linkModeration">Moderate Board</a>
        </div>

      </div>
      <div id="actionsForm"></div>

    </form>

  </div>

  <footer id="dynamicFooterBoard"></footer>

</body>

<script src="/.static/js/crypto.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/postCommon.js"></script>
<script src="/.static/js/captchaModal.js"></script>
<script src="/.static/js/thumbs.js"></script>
<script src="/.static/js/tooltips.js"></script>
<script src="/.static/js/posting.js"></script>
<script src="/.static/js/board.js"></script>
<script src="/.static/js/captchaUtils.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/mediaHiding.js"></script>
<script src="/.static/js/embed.js"></script>
<script src="/.static/js/postingMenu.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/bypassUtils.js"></script>
<script src="/.static/js/submitButton.js"></script>

</html>
