<a href="/"><img src="/.static/logo.png" width="210"></a><br>

<div class="box" style="margin-top: 5px;">
<div class="boxTitle">Navigation</div>
<ul style="margin: 0;padding: 0;">
<li style="list-style: none;"><a href="/" style="font-size: 75%;padding: 2px 10px;" class="boxLink" id="navLinkHome"></a></li>
<li style="list-style: none;"><a href="/overboard" style="font-size: 75%;padding: 0px 10px;" class="boxLink" id="navOverboard"></a></li>
<li style="list-style: none;"><a id="watcherButtonPlace"></a></li>
<li style="list-style: none;"><a id="settingsButtonPlace"></a></li>
<div class="boxContent" style="margin: 0 0 4px 0">
<li style="list-style: none;"><a id="themeButtonPlace"></a></li>
</div>

<span id="navOptionsSpan"> </span>
 <a
    href="/.static/pages/posting.html"
    class="hidden"
    id="navPosting"></a>
</ul>
</div>

<div class="box">
<div class="boxTitle">Board Navigation</div>
<ul style="margin: 0;padding: 0;">
<li style="list-style: none;"><a href="#" style="font-size: 75%;padding: 2px 10px;" class="boxLink" title="Top" id="linkTop"></a></li>
<li style="list-style: none;"><a href="#footer" style="font-size: 75%;padding: 2px 10px;" title="Bottom" class="boxLink" id="linkBottom"></a></li>
<li style="list-style: none;"><a href="catalog.html" style="font-size: 75%;padding: 2px 10px;" class="navCatalog boxLink hideMobile coloredIcon" title="Catalog"></a></li>
<li style="list-style: none;"><a href="index.rss" style="font-size: 75%;padding: 2px 10px;" class="linkRss boxLink hideMobile coloredIcon" title="RSS"></a></li>
</ul>
</div>
<div class="box">
<div class="boxTitle">Image Boards</div>
<ul style="margin: 0;padding: 0;">
<li style="list-style: none;"><a class="boxLink" href="/en/" style="font-size: 75%;padding: 2px 10px;">/en/ - General</a></li>
<li style="list-style: none;"><a class="boxLink" href="/h3/" style="font-size: 75%;padding: 2px 10px;">/h3/ - Site Meta</a></li>
<li style="list-style: none;"><a class="boxLink" href="/jp/" style="font-size: 75%;padding: 2px 10px;">/jp/ - Otaku Culture</a></li>
<li style="list-style: none;"><a class="boxLink" href="/t/" style="font-size: 75%;padding: 2px 10px;">/t/ - Technology</a></li>
<li style="list-style: none;"><a class="boxLink" href="/v/" style="font-size: 75%;padding: 2px 10px;">/v/ - Video Games</a></li>
</ul>
</div>

<div class="box">
<div class="boxTitle">Drawing Boards</div>
<ul style="margin: 0;padding: 0;">
<li style="list-style: none;"><a class="boxLink" href="/i/" style="font-size: 75%;padding: 2px 10px;">/i/ - Oekaki</a></li>
</ul>
</div>

<div class="box">
<div class="boxTitle">Upload Boards</div>
<ul style="margin: 0;padding: 0;">
<li style="list-style: none;"><a class="boxLink" href="/f/" style="font-size: 75%;padding: 2px 10px;">/f/ - Flash</a></li>
</ul>
</div>

<div class="box">
<div class="boxTitle">Contact</div>
<ul style="margin: 0;padding: 0;">
<li style="list-style: none;"><a class="boxLink" href=""mailto:syrno@hikari3.ch" style="font-size: 75%;padding: 2px 10px;">syrno@hikari3.ch</a></li>
</ul>
</div>

<div class="box">
<div class="boxTitle">Community</div>
<ul style="margin: 0;padding: 0;">
<li style="list-style: none;"><a class="boxLink" href="irc://irc.rizon.net/hikari3" style="font-size: 75%;padding: 2px 10px;">#hikari3 @ irc.rizon.net</a></li>
<li style="list-style: none;"><a class="boxLink" href="https://cytu.be/r/hikari3" style="font-size: 75%;padding: 2px 10px;">CyTube Channel</a></li>
<li style="list-style: none;"><a class="boxLink" href="https://discord.gg/XfpsgeTmum" style="font-size: 75%;padding: 2px 10px;">Discord (Post Notifs)</a></li>
<li style="list-style: none;"><a class="boxLink" href="/links" style="font-size: 75%;padding: 2px 10px;">Friends</a></li>
</ul>
</div>

<hr style="width: 90%">
<div class="box">
<div class="boxContent">
<p><strong><u>Warning:</u></strong> Some of these boards may contain suggestive &amp;/or NSFW content. Browse at your own discretion.</p>
<br>
<p>Make sure to read the <a href="/rules" target="main">rules</a> before posting.
</p>
</div>
</div>