body {
	font-family: sans-serif;
	font-size: 75%;
	color: #acacac;
	margin: 0;
	background: #0d1a1d no-repeat;
	background-image: linear-gradient(to bottom,#182f3f 0,transparent 260px);
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #fffab2;
	padding: 0.5px 3px;
}

a:hover {
	color: #d00;
}

h1, h2 {
	background: #182f3f;
	text-align: left;
	margin: 0px;
	padding: 0;
	vertical-align: bottom;
	border: 1px solid #82cece;
	border-radius: 5px 5px 0 0;
}

h1 {
	margin-top: 0px;
	padding-left: 1px;
	font-size: 150%;
}

h2 {
	font-size: 100%;
	margin-top: 1em;
	padding-top: 1px;
}

hr {
  border: 1px solid #82cece;
  border-bottom: none;
}

p {
  margin: 0;
}

.box {
  border: 1px solid #82cece;
  border-radius: 5px;
  padding: 5px;
}

.sidebar {
  margin: 5px 8px;	
}

.plus {
	float: right;
	font-size: 8px;
	font-weight: normal;
	padding: 1px 4px 2px 4px;
	margin: 0px 1px;
	background: #244860;
	border: 1px solid #82cece;
	cursor: hand;
	cursor: pointer;
	border-top-right-radius: 5px;
}

.plus:hover {
	background: #82cece;
	border: 1px solid #244860;
	color: #000;
}

ul {
	list-style: none; 
	background-color: #0d1a1d;
	padding: 4px;
	margin: 0;
	border: 1px solid #82cece;
	border-top: none;
	border-radius: 0 0 5px 5px;
}

li {
	margin: 0;
	text-indent: 1px;
	padding: 0;
}

li:hover {
	background: #182f3f;
}

li a {
	display: block;
	width: 100%;
}